* {
    font-family: sans-serif;
}

nav {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-decoration: none;
    background-color: rgba(131, 173, 212, 0.596);
    margin: auto;
    border-radius: 16px;
    border: solid rgba(0, 68, 255, 0.39);
    border-width: 1px;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

nav ul li {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 25px;
    margin-right: 1pc;
    padding: 20px;
    font-size: 25px;
    font-weight: bold;
}

nav ul li a {
    text-decoration: none;
}